language: cpp
compiler:
- gcc
before_install:
- export TRAVIS_COMMIT_MSG="$(git log --format=%B --no-merges -n 1)"
- if [[ "$TRAVIS_COMMIT_MSG" = "$COMMIT_IGNORE_BUILD" ]]; then exit 0 ; fi
- if [ "$CXX" == "g++" ]; then sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test;
  fi
- sudo apt-get update -qq
- git config --global user.email "$USER_EMAIL"
- git config --global user.name "$USER_NAME"
- git config --global push.default simple
- git checkout $TRAVIS_BRANCH
install:
- if [ "$CXX" == "g++" ]; then sudo apt-get install -qq g++-4.8; fi
- if [ "$CXX" == "g++" ]; then sudo update-alternatives --install /usr/bin/g++ g++
  /usr/bin/g++-4.8 50; fi
- wget http://www.biicode.com/downloads/latest/ubuntu64
- mv ubuntu64 bii-ubuntu64.deb
- sudo dpkg -i bii-ubuntu64.deb && sudo apt-get -f install
- rm bii-ubuntu64.deb
- wget https://s3.amazonaws.com/biibinaries/thirdparty/cmake-3.0.2-Linux-64.tar.gz
- tar -xzf cmake-3.0.2-Linux-64.tar.gz
- sudo cp -fR cmake-3.0.2-Linux-64/* /usr
- rm -rf cmake-3.0.2-Linux-64
- rm cmake-3.0.2-Linux-64.tar.gz
- export TRAVIS_CXX=$CXX
script:
- cd /tmp
- bii init -L
- shopt -s dotglob && mv $TRAVIS_BUILD_DIR/* ./
- if [ "$CXX" == "clang++" ]; then export CXX="clang++" && bii build; fi
- if [ "$CXX" == "g++" ];     then export CXX="g++"     && bii build; fi
- ls ./bin/Dani_MTB_small3d_develop_example_main
after_success:
- bii user $USER -p $BII_PASSWORD
- if [[ -n $TRAVIS_TAG ]]; then bii publish -r --tag STABLE --versiontag $TRAVIS_TAG
  || echo "Ignored publish output..."; fi
- if [[ -z $TRAVIS_TAG ]]; then bii publish -r || echo "Ignored publish output...";
  fi
- git config credential.helper "store --file=.git/credentials"
- echo "https://${GH_TOKEN}:@github.com" > .git/credentials
- git add -A .
- git commit -m "$COMMIT_IGNORE_BUILD"
- git remote -v
- git remote set-url origin https://github.com/$TRAVIS_REPO_SLUG.git
- git push
env:
  global:
  - USER_EMAIL=danimanzaneque@gmail.com
  - USER_NAME="Dani_MTB"
  - COMMIT_IGNORE_BUILD="Promoted version.***travis***"
  - BLOCK_NAME=small3d_develop_example
  - USER=Dani_MTB
  - secure: ERdf2Q6OhR5ifS8llFR+g2dLaRA9ISKih+74Oyn0gYxhLkh3Xg96hC8MAEBtUihvzvNJqW4kAS8jEyBbsfh7eoa8S1FN2bY43WU5Tm8eLszXD+6LdHPQ5F7Tz1UZCsUQY+TiFFWEP9iZEqcHWLmwvpGm+Ave2FTImd/amukcPSk=
  - secure: hjWoXLVF8832tY3DIPN10PGPDgfpEYgKR6DrhOeb94PpXexJJRQWO0U5XmWw+vyUwiaZyHf/HkVuoa/znJeX6fB70DoEJNyFgYqdxYH0T0fWiGQrNvrDx5IP6gS5Xd3JLfEkZXXm7Wpmd4AY0OY4TTwFq8bSnAsvqFHRtNPWr10=
